/*Light mode*/

body {
    font-family: system-monospace, monospace;
    font-size: large;
    background-color: #d6d2c4;
    color: #000000;
}

body th, body td {
    border: medium solid #000000;
}

/*Dark mode*/

body.dark-mode {
    background-color: #000000;
    color: #d6d2c4;
}

body.dark-mode th, body.dark-mode td {
    border: medium solid #d6d2c4;
}

body.dark-theme img {
    filter: brightness(.8) contrast(1.2);
}

/*Neutral*/

.nav_list {
    background-color: #5f0088;
    list-style-type: none;  /*Remove bullets from ul*/
    margin: 0;
    padding: 0;
    font-family: system-monospace, monospace;
    display: flex;
}

.nav_list li {
    flex: 1;
}

.nav_list_item a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_list_item a:hover {
    background-color: #2c0047;
}

h1 {
    text-align: center;
}

button {
    font-family: system-monospace, monospace;
}

#resultTable {
    text-align: center;
    border-collapse: collapse;
    display: block;
    overflow: scroll;
}

/*Media Queries*/

@media only screen and (max-width: 600px) {
    .nav_list {
        flex-wrap: wrap;    /*Lets the menu items wrap*/
    }

    .nav_list li {
        flex-basis: 50%;    /*Tells the items what size to use (in this case 50% of display)*/
    }
}

@media only screen and (max-width: 400px) {
    .nav_list li {
        flex-basis: 100%;    /*Tells the items what size to use (in this case 100% of display)*/
    }
}

