/*Light mode*/

body {
    font-family: system-monospace, monospace;
    /*Set font to monospace, using system monospace as default*/
    font-size: large;
    /*Set font size to large*/
    background-color: #d6d2c4;
    /*Set background colour for site*/
    color: #000000;
    /*Set text colour for site*/
    list-style-position: inside;
    /*Keeps bullet points tied to list items*/
    text-align: center;
    /*Align text to the center of the page*/
}

th {
    padding-top: 12px;
    /*Set padding for table headers to keep them centered*/
    padding-bottom: 12px;
    /*Set padding for table headers to keep them centered*/
    background-color: #aaaaaa;
    /*Set background colour table header*/
}

th,
td {
    border: medium solid #000000;
    /*Set border colour for table*/
    padding: .5em;
}

tr:nth-child(odd) {
    background: #b3afaa;
    /*Set background colour for odd items in table*/
}

tr:hover {
    background-color: #eae8e2;
    /*Set background colour of item in nav bar when hovered over*/
}

/*Dark mode*/

.dark-mode {
    background-color: #000000;
    /*Set background colour for site*/
    color: #d6d2c4;
    /*Set text colour for site*/
}

.dark-mode th {
    background-color: #181818;
    /*Set background colour table header*/
}

.dark-mode th,
.dark-mode td {
    border: medium solid #d6d2c4;
    /*Set border colour for table*/
}

.dark-mode tr:nth-child(odd) {
    background: #2a2a2a;
    /*Set background colour for odd items in table*/
}

.dark-mode tr:hover {
    background-color: #3e3c3c;
    /*Set background colour of item in nav bar when hovered over*/
}


.dark-mode picture,
.dark-mode img {
    filter: brightness(.8) contrast(1.2);
    /*Reduce brightness and increase contrast when in dark mode*/
}

/*Neutral*/

.nav_list {
    background-color: #5f0088;
    /*Set background colour of item in nav bar*/
    list-style-type: none;
    /*Remove bullets from ul*/
    margin: 0;
    /*Removes top margin, making nav bar sit closer to the top of the window*/
    padding: 0;
    /*Remove left padding, making nav bar content sit shoulder to shoulder for the length of the window*/
    font-family: system-monospace, monospace;
    /*Set font to monospace, using system monospace as default*/
    display: flex;
    /*Enables flex for all child elements*/
}

.nav_list li {
    flex: 1;
    /*Sets the nav list to grow in proportion to the window size*/
}

.nav_list_item a {
    color: white;
    /*Set font colour*/
    display: block;
    /*Displays as a block, taking the whole line like a <p> tag*/
    text-align: center;
    /*Align text to the center of the cell*/
    padding: 14px 16px;
    /*Add padding to the item to provide a bigger touch target*/
    text-decoration: none;
    /*Remove hyperlink styling*/
}

.nav_list_item a:hover {
    background-color: #2c0047;
    /*Set background colour of item in nav bar when hovered over*/
}

h1 {
    text-align: center;
    /*Align text to the center of the display*/
}

button {
    font-family: system-monospace, monospace;
    /*Set font to monospace, using system monospace as default*/
}

#resultTable {
    text-align: center;
    /*Align text to the center of the cell*/
    border-collapse: collapse;
    /*Collapse borders to overlap into one border (appear more like a table in word)*/
    display: block;
    /*Displays as a block, taking the whole line like a <p> tag*/
    overflow: auto;
    /*Auto will add a scrollbar to the table when necessary*/
    margin-left: auto;
    /*Auto add margin to left of the table to push it to the center*/
    margin-right: auto;
    /*Auto add margin to right of the table to push it to the center*/
    max-width: fit-content;
    /*Uses available space whilst staying between min and max values*/
}

a {
    color: inherit;
    /*Take the same colour as the surrounding elements*/
    text-decoration: underline;
    /*Underline the hyperlink*/
}

img {
    max-width: 100%;
    /*Allow the image width*/
    height: auto;
    /*Auto adjust height based on the width and window constraints*/
}

form {
    text-align: center;
    /*Align test to the center*/
    border: 3px solid #5f0088;
    /*Add a solid, 3pixel thick border in the defined colour*/
    border-radius: 10px;
    /*Set the border radius to 10pixels around the form*/
    padding: .5em;
    /*Set the padding to .5em (which is proportional to the font size)*/
    width: 25%;
    /*Constrain the form to take up 25% of the total width*/
    margin: auto;
    /*Apply margins automatically to center the form*/
}

#surveyComplete {
    display: none;
    /*By default this will not be shown*/
}

#shareMsg,
#shareButton {
    display: none;
    /*Hide the share message and button by default*/
    text-align: center;
    /*Align text to the center*/
    margin: 0 auto;
    /*Center the button*/
}

footer {
    font-family: system monospace, monospace;
    /*Set font to monospace, using system monospace as default*/
    width: 100%;
    /*Makes the footer span the window width*/
    display: inline-block;
    /*Formats as a block but allowing width and height attribute changes - Keeps the footer a bit taller in practice*/
    position: sticky;
    /*Allows the element to move with the scrollbar*/
    bottom: 0;
    /*Keeps the footer at the bottom of the window even when not at the bottom of the page*/
    background: inherit;
    /*Inherit background colour from parent (will allow light and dark mode changes)*/
    color: inherit;
    /*Inherit text colour from parent (will allow light and dark mode changes)*/
    opacity: 85%;
    /*Set the footer to 85% opacity*/
    font-size: large;
    /*Set font size to large*/
    text-align: center;
    /*Align text to the center of the page*/
    text-transform: capitalize;
    /*Capitalizes the first letter of each word*/
    padding: 0;
    /*Ensures there is no padding*/
}

/*Media Queries*/

@media only screen and (max-width: 600px) {
    .nav_list {
        flex-wrap: wrap;
        /*Lets the menu items wrap*/
    }

    .nav_list li {
        flex-basis: 50%;
        /*Tells the items what size to use (in this case 50% of display)*/
    }

    ul {
        text-align: left;
        /*Align text to the left*/
    }

    form {
        text-align: left;
        /*Align text to the left*/
        width: 85%;
        /*Constrain the form to take up 85% of the total width (Easier to see on mobile devices)*/
    }

    form button {
        text-align: center;
        /*Align text to the center*/
        display: block;
        /*Center the button*/
        margin: 0 auto;
        /*Center the button*/
    }
}

@media only screen and (max-width: 400px) {
    .nav_list li {
        flex-basis: 100%;
        /*Tells the items what size to use (in this case 100% of display)*/
    }
}

/*This media query will detect whether or not the pointer will have limited accuracy
This is being used for when screen sizes are smaller to define minimum tap targets*/
@media (pointer: coarse) {
    button {
        padding: .8em;
        /*em is a size that is relative to the font size of the element*/
    }

    /*As min tap target is 48px by 48px, I am setting the min icon as 24x24
    and then adding even padding to up the target to 48x48*/
    .radioBtns {
        min-height: 24px;
        /*Set min height to 24px*/
        min-width: 24px;
        /*Set min width to 24px*/
        padding: 12px;
        /*Set padding on each side to 12px*/
    }
}